{% extends 'core/base.html' %}

{% block title %}
    Alumno
{% endblock title %}

{% block content %}
    <header>
        <h1 class="text-center" style="padding-top: 1.5cm; padding-bottom: 0.5cm; color: #3a7765;">Alumnos</h1>
    </header>
    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col-lg-6">
                <form action="{% url 'usuario:alumnos_list' %}"
                    method="get"
                    class="input-group">
                    <input type="text"
                        name="busqueda"
                        class="form-control"
                        placeholder="Buscar por apellido...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    <ul class="list-unstyled">
        <ul class="list-unstyled">
            {% for alumno in alumnos %}
            <li>
                <p class="font-weight-bold text-center" style="font-size: 1.25rem;">Apellido y Nombre: {{ alumno.apellido }} {{ alumno.nombre }}</p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Email:</td>
                                <td>{{ alumno.email }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Teléfono:</td>
                                <td>{{ alumno.telefono }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">DNI:</td>
                                <td>{{ alumno.dni }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Fecha de Nacimiento:</td>
                                <td>{{ alumno.fecha_nacimiento }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a href="{% url 'usuario:alumnos_update' alumno.id %}" class="btn btn-warning btn-sm m-1">Editar</a>
                    <a href="{% url 'usuario:alumnos_delete' alumno.id %}" class="btn btn-danger btn-sm m-1">Eliminar</a>
                </div>
                
                
            </li>
            {% endfor %}
        </ul>
        <div class="container text-center" style="padding: 10px; margin-bottom: 75px;">
            <div class="row">
                <div class="col-12 col-md-6 mb-2">
                    <a href="{% url 'usuario:alumnos_create' %}" class="btn btn-primary btn-block" style="width: 80%; color: white;">Agregar nuevo Alumno</a>
                </div>
                <div class="col-12 col-md-6 mb-2">
                    <a href="{% url 'usuario:index' %}" class="btn btn-outline-secondary btn-block" style="width: 80%; color: blue;">Volver a Alumnos</a>
                </div>
            </div>
        </div>
        
        
        </div>
        
    
{% endblock content %}