{% extends 'core/base.html' %}

{% block title %}
    Alumno
{% endblock title %}

{% block content %}
    <!--Header -->
    <header>
        <h1 class="text-center" style="padding-top: 1.5cm; padding-bottom: 0.5cm; color: #3a7765;">Módulo de alumnos</h1>
    </header>
    <section style="text-align: center; padding-top: 0.5cm; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
        <p style="font-size: x-large;">Alumnos registrados</p>
        <div class="d-flex flex-column align-items-center">
            <a class="btn btn-primary btn-lg my-1" style="width: 90%; margin-bottom: 0.5mm;" href="{% url 'usuario:alumnos_list' %}">Ver alumnos</a>
            <a class="btn btn-primary btn-lg my-1" style="width: 90%; margin-bottom: 0.5mm;" href="{% url 'usuario:rutina_create' %}">Rutina alumnos</a>
            <a class="btn btn-primary btn-lg my-1" style="width: 90%;" href="#!">Consultas alumnos</a>
        </div>
    </section>
    
{% endblock content %}

