{% extends 'core/base.html' %}
{% block title %}
    Alumno
{% endblock title %}

{% block content %}
    <header>
        <h1 class="text-center" style="padding-top: 1.5cm; padding-bottom: 0.5cm; color:    #3a7765;">Rutina Alumno</h1>
    </header>
    <form method="post" class="p-3">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <div style="text-align: center; padding: 10px; margin-bottom: 75px;">
            <button type="submit" class="btn btn-primary" >Guardar</button>
            <a href="{% url 'usuario:rutina_main' %}" class="btn btn-outline-secondary" style="width: 23%; color: blue;">Volver</a>
        </div>
        
    </form> 
{% endblock content %}
