{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    AboutMe
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Sobre Mí</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hola, soy Sebastian</h5>
                        <p class="card-text">Tengo 39 años, estoy casado y tenemos una hija de 5 años.</p>
                        <p class="card-text">Actualmente trabajo en Banco Macro, en el área de soporte técnico a empresas.</p> 
                        <p class="card-text">En paralelo a mi trabajo voy a desarrollarme como freelance y arrancar un emprendimiento comercial de desarrollo web, como programador de Python y Django.</p>
                        <p class="card-text">Actualmente, tengo conocimientos en JavaScript y HTML, y próximamente realizaré cursos de React y habilidades blandas para poder potenciar mis capacidades.</p>
                        <p class="card-text">Como autodidacta, trataré de profundizar mis conocimientos en Django y Python (automatizaciones).</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}