{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    Personal_Trainer
{% endblock title %}

{% block content %}
    <!-- Header section-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        {% if user.is_authenticated %}
                            <p class="text-info">{{mensaje}} ¡Bienvenido!</p>
                        {% endif %}
                        <h1 class="display-5 fw-bolder text-white mb-2">Bienvenidos a Personal_Trainer</h1>
                        <p class="lead text-white-50 mb-4"> Personal_Trainer es la plataforma ideal para administrar tus alumnos comprometidos con el logro de sus metas de fitness y bienestar. Nuetsro objetivo es facilitar un camino claro y estructurado hacia el éxito en la administracion y seguimiento de los entrenamientos de tus alumnos, proporcionando herramientas personalizadas y accesibles para gestionar rutinas de ejercicio de manera eficiente y efectiva.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#Planes">Planes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
 
    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom" id="Planes">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Paga a medida que creces</h2>
                <p class="lead mb-0">Con nuestros planes de perfeccion sin complicaciones</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold" id="Grupal">
                                Standar Plan
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$30.000</span>
                                <span class="text-muted">/ Ars.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Administracion hastra 30 alumnos</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Envio notificaciones via whatsApp, email.
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Soporte Técnico 7x24  
                                </li>
                                
                                <li class="mb-2">
                                    <i class="bi bi-x"></i>
                                    Integracion IA
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-x"></i>
                                    Ancho banda, hasta 4 usuarios en simultaneo
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-primary" href="{% url 'core:register' %}">Elegir plan</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card enterprise-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">
                                <i class="bi bi-star-fill text-warning" id="Individual"></i>
                                Platinun Plan</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$50.000</span>
                                <span class="text-muted">/ Ars.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Alumnos ilimitados</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Integracion IA en respuetas de mensajes
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Soporte Técnico 7x24
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Hasta 3 módulos personalizable
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Videos ilustrativos integrados
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="{% url 'core:register' %}">Elegir plan</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}