{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    Register
{% endblock title %}

{% block content %}
<header>
    <h1 class="text-center" style="padding-top: 40px; padding-bottom: 0.5cm; color: #3a7765;">Registro nuevo Alumno</h1>
</header>
<div class="container login-container-register">
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
                <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                <a href="{% url 'core:index' %}" class="btn btn-secondary btn-block">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}